################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GymSYS/FileContentIndex/1225a721-71e8-4da5-b8a5-05471e323099.vsidx
